<!DOCTYPE html>

<html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
      <link href="static/indexs.css" rel="stylesheet">
      <title>My Webpage</title>

  </head>
  <body>

<div id="main">
    <div class="header" id="myHeader">
        <div class="inner_header" >
            <div class="logo_container">
                <h1>MY<span>BOT<span></h1>
            </div>

            <ul class="navigation">
              <a href="/buy_sell"><li>Buy/Sell</li></a>
              <a href="/bot"><li>Bot</li></a>
              <a href="/history"><li>History</li></a>
              <a href="/logout"><li>Log Out</li></a>
            </ul>
        </div>
    </div>

    <div id="box2">
        <div id="text">
          CRACK<br>THE CRYPTO MARKET
        </div>
        <a href="/bot" class="button" style="vertical-align:middle"><span>Start day trading!</span></a>
    </div>

</div>
</body>
</html>
