<!DOCTYPE html>

<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="static/index2.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
      <title>Trading Bot</title>
  </head>
  <body>

    <div id="main">
        <div class="header" id="myHeader">
            <div class="inner_header" >
                <div class="logo_container">
                    <h1>MY<span>SITE<span></h1>
                </div>

                <ul class="navigation">
                  <a href="/buy_sell"><li>Buy/Sell</li></a>
                  <a href="/bot"><li>Bot</li></a>
                  <a href="/history"><li>History</li></a>
                  <a href="/logout"><li>Log Out</li></a>
                </ul>
            </div>
        </div>

        <div class="about">
            <div class="about_us1">
                <h2>About Us</h2>
                <hr>
            </div>
            <p class="about_us3" >Algorithmic trading is accounted for around 60-73% of the overall United States equity trading.</p>
            <div class="about_us4">
                <p>Algorithmic trading uses a computer program that follows a defined set of instructions (an algorithm) to place a trade. The trade, in theory, can generate profits at a speed and frequency that is impossible for a human trader.

The defined sets of instructions are based on timing, price, quantity, or any mathematical model. Apart from profit opportunities for the trader, algo-trading renders markets more liquid and trading more systematic by ruling out the impact of human emotions on trading activities. </p>
                <form action="/bot" method="post">
                    <button class="btn btn-primary" type="submit">Algo Trade</button>
                </form>
            </div>
            <div class="about_us2">
                <img src="static/x.jpg" >
            </div>
        </div>
    </div>
  </body>
</html>
